@model HomeDetailsViewModel 
@{ 

    //@model EmployeeMGNT.ViewModels.HomeDetailsViewModel  or move the EmployeeMGNT.ViewModels to ViewImports.cshtml

}

@{

    ViewBag.Title = "Employee Details";
}

<h3>@Model.PageTitle</h3>

<div>
    Name : @Model.Employee.Name
</div>
<div>
    Email :  @Model.Employee.Email
</div>
<div>
    Department :  @Model.Employee.Department
</div>


<!--

A View : is cshtml file
    -is an htm template with embedded razor markup
    -contains the logic to display model data
-->
